﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<input id="startDate" type="text" />

<br />

<div id='Grid'></div>

<br />

<div id='Grid2'></div>
<script>


    $(function () {

        var url = '@Url.Content("~/")' + 'Home/MasterData/1';
        var dm = ej.DataManager(url);


        $('#Grid').ejGrid({
            dataSource: dm,
            columns: ["ID", "Name", "Value"]

        });

        var url2 = '@Url.Content("~/")' + 'Home/ChildData';
        var dm2 = ej.DataManager(url2);

        $('#Grid2').ejGrid({
            dataSource: dm,
            columns: ["ID", "Name", "Value"],
            childGrid:
                {
                    dataSource: dm2,
                    queryString: "ID",
                    columns: ["ID", "Name", "Value"]
                }

        });
    });


    $(function () {
                // initialization of ejDatePicker control
                $("#startDate").ejDatePicker();
            });
</script>
